openapi: 3.1.0
info:
  title: Constellation Brands Partner BottleShots TastingNotes API
  version: '1.0'
  description: Partner-facing REST API exposing Constellation Brands product master data and merchandising digital assets including bottle shots, tasting notes, hot sheets, shelf talkers, neck hangers, and cocktail recipes. All endpoints require an API key issued through the developer portal.
  x-generated-from: https://dev.cbrands.com/docs/
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.cbrands.com
  description: Constellation Brands API
security:
- ApiKeyAuth: []
tags:
- name: TastingNotes
paths:
  /api/1.0/tastingNotes:
    get:
      summary: List tasting notes
      operationId: listTastingNotes
      parameters:
      - name: modifiedSince
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Tasting notes collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
      tags:
      - TastingNotes
components:
  schemas:
    Resource:
      type: object
      additionalProperties: true
    Collection:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Resource'
        total:
          type: integer
        page:
          type: integer
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apiKey
